:host {
  display: grid;
  place-items: center;
  color: var(--color-text-primary);
}

.theme-toggle-button {
  color: var(--color-text-primary);
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.theme-toggle-button:hover {
  transform: scale(1.1);
}

.theme-toggle-button:active {
  transform: translateY(0.1rem);
}
