:host {
  cursor: pointer;
  outline: none;
}

.audio-features-comparison-point {
  fill: var(--color-surface);
  stroke-width: 2.2;
}

:host(:focus-visible) .audio-features-comparison-point,
:host(:hover) .audio-features-comparison-point {
  fill: var(--color-accent-soft);
  stroke-width: 3;
}

.audio-features-comparison-point-hitbox {
  fill: transparent;
  stroke: transparent;
}
