<div class="app-shell-navigation-region">
  <div class="app-shell-navigation-container">
    <nav class="app-shell-navigation-list">
      @for (link of navLinks(); track link.path) {
      <button
        type="button"
        class="app-shell-nav-link"
        [attr.aria-label]="link.label"
        [id]="link.id"
        (click)="navigate.emit(link.path)"
      >
        <span
          class="app-shell-nav-link-content"
          [class.app-shell-nav-link-content--active]="link.isActive()"
        >
          <app-icon
            class="app-shell-navigation-icon"
            [name]="link.icon"
            [size]="16"
            viewBox="0 0 16 16"
            [strokeWidth]="1.33333"
          />

          <span class="app-shell-nav-link-label">{{ link.label }}</span>
        </span>
      </button>
      }
    </nav>
  </div>
</div>
