<header class="main-header">
  <app-logo />
  <app-dark-mode />
  <app-user-profile />
  <app-logout />
</header>

<div class="layout">
  <div class="nav-container">
    <nav class="main-nav">
      @for (link of navLinks; track link.path) {
      <button
        type="button"
        class="nav-link"
        [attr.aria-label]="link.label"
        [class.active-link]="link.isActive()"
        [id]="link.id"
        (click)="navigateTo(link.path)"
      >
        <app-icon
          class="nav-icon"
          [name]="link.icon"
          [size]="16"
          viewBox="0 0 16 16"
          [strokeWidth]="1.33333"
        />

        <span>{{ link.label }}</span>
      </button>
      }
    </nav>
  </div>
</div>
<main class="content">
  <router-outlet />
</main>
