<div class="period-header">
  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    @for (path of svgCalendarIconPaths; track $index) {
    <path
      [attr.d]="path"
      stroke="currentColor"
      stroke-width="1.33333"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    }
  </svg>

  <h3>Zakres czasowy</h3>
</div>

<form class="period-selector-container">
  <label for="period-select">Wybierz zakres</label>
  <select id="period-select" (change)="selectRange($event)" [value]="selectedRange()">
    <button>
      <selectedcontent></selectedcontent>
    </button>
    <option value="short_term">Ostatni miesiąc</option>
    <option value="medium_term">Ostatnie 6 miesięcy</option>
    <option value="long_term">Ostatni rok</option>
  </select>
</form>

@if (showIncompleteWarning()) {
  <div class="warning-banner">
    <p>Znaleziono {{ tracksFoundRatio()?.foundTracksCount }} z {{ tracksFoundRatio()?.totalTracksCount }} utworów</p>
  </div>
}